.navbarmain{
    background-image: linear-gradient(to right, rgb(205, 238, 255), rgb(255, 255, 255), rgb(197, 230, 255));
    backdrop-filter: blur(8px);
    width: 100%;
    /* overflow: hidden; */
}

.navg li {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 4px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.navg li a.active, .navg li a[aria-current="page"] {
  border: 2px solid #000851;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.navg li.dropdown-item a.active, .navg li.dropdown-item a[aria-current="page"] {
  border: 2px solid #000851;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}


.navg li:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.navg li.dropdown-item {  
  overflow: visible !important;
}

.navg li a, .navg li div {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.navg select, .navl select {
    width: 180px;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    background-color: #ffffffcb ;
    color: #000000;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 2rem;
}

.navl select {
    margin-left: -4px;
}

.navg option, .navl option {
    background: white;
    color: black;
    font-size: 1.1rem;
    border: none;
}


.navg select::-ms-expand {
    display: none;
}

.navg select:focus {
    outline: none;
    border-color: #999;
}


.navg select:hover {
    background-color: #f5f5f5;
}


.navl li {
  transition: all 0.3s ease;
}

.navl li:hover {
  background-color: #fce8d2;
  border-radius: 8px;
  color: #000851;
}
